<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }
        
        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }
        
        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
            background-color: #db923e;
            color: rgb(0, 0, 0);
            padding: 30px 20px;
        }
        
        #myTable th,
        #myTable td {
            text-align: left;
            padding: 12px;
        }
        
        #myTable tr {
            border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header,
        #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>

    <h2>Live User Filter</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

    <table id="myTable">
        <tr class="header">
            <th style="width:60%;">Name</th>
            <th style="width:40%;">Location</th>
        </tr>
        <tr>
            <td>
                <%= head1 %>
            </td>
            <td>
                <%= para1 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= head2 %>
            </td>
            <td>
                <%= para2 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= head3 %>
            </td>
            <td>
                <%= para3 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= head4 %>
            </td>
            <td>
                <%= para4 %>
            </td>
        </tr>
        <tr>
            <td>
                <%= head5 %>
            </td>
            <td>
                <%= para5 %>
            </td>
        </tr>
       
        </tr>
        <!-- <tr>
            <td>Koniglich Essen</td>
            <td>Germany</td>
        </tr>
        <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Canada</td>
        </tr>
        <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Italy</td>
        </tr>
        <tr>
            <td>North/South</td>
            <td>UK</td>
        </tr>
        <tr>
            <td>Paris specialites</td>
            <td>France</td>
        </tr>  -->
    </table>

    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</body>

</html>